<header style="background-color: #155084">

    <h1 style="font-size: 4em">M-ROW</h1>

</header>

<div class="container" style="margin-top: 20px; float: center">

    <div class="row" style="float: space-between; float: center">

        <div id="internalRulesPublic" class="col-md-12" style="margin-top: 20px">

            <div class="card">

                <div class="card-header">Règlement interne du LSPD</div>

                <div class="card-body">

                    <h2>1. Règlement</h2>

                    <ul>

                        <li>Il est <b>strictement interdit</b> d’utiliser son téléphone en service pour un usage
                            personnel.
                            L’usage d’un véhicule personnel est autorisé lors d’un service civil pour les agents à
                            partir du grade de <b>sergent</b>, à condition que le véhicule soit enregistré (cf
                            “<i>Répertoire
                                véhicules banalisés</i>” - Niveau 3).</li>

                        <li>Dissimuler des preuves, falsifier un rapport en dissimulant la vérité ou en omettant
                            volontairement des détails est <b>prohibé</b>.</li>

                        <li>Il est <b>interdit</b> de fournir des informations aux civils ou à la presse sur des
                            affaires en
                            cours sans approbation de la hiérarchie.</li>

                        <li>Il est <b>interdit</b> de manquer de respect à un supérieur hiérarchique, il en va du bon
                            fonctionnement du service.</li>

                        <li>Tout bizutage est <b>interdit</b>.
                        </li>

                        <li>Manquer de respect aux citoyens coopératifs ou abuser de sa position <b>n’est pas
                                cautionné</b> par
                            la hiérarchie.</li>

                        <li>Tout usage d’alcool ou de stupéfiant pendant le service est <b>interdit</b>.</li>

                        <li>Toute absence injustifiée à un rendez-vous psychologique mensuel entraîne des sanctions.
                        </li>

                        <li>Le harcèlement au sein du service est <b>interdit</b>. Tout membre du LSPD estimant subir un
                            quelconque harcèlement de la part de ses collègues est invité à le signaler à sa hiérarchie
                            au plus tôt.</li>

                        <li>Il est <b>interdit</b> de faire usage de son arme de service ainsi que de sa radio en dehors
                            de son
                            service.</li>

                        <li>Embarquer un civil lors de nos opérations (courses-poursuites, etc...) est formellement
                            <b>interdit</b>, sauf cas exceptionnel. Il en va de la sécurité de tous.</li>

                    </ul>

                    <h2>2. Sanctions</h2>

                    <ul>

                        <li>Avertissement (oral / écrit)</li>
                        <li>Suspension (de 1 à 2 jours)</li>
                        <li>Mise à pied disciplinaire (suspension prolongée : de 3 jours à 1 semaine)</li>
                        <li>Blâme</li>
                        <li>Rétrogradation</li>
                        <li>Licenciement</li>

                    </ul>

                    <h5><b>Trois avertissements écrits entraînent un blâme.
                            Deux blâmes entraînent des conséquences plus sévères pouvant aller jusqu’au licenciement.
                        </b></h5>


                </div>

                <div class="card-footer bg-transparent">
                    Pour retourner sur la page d'inscription, cliquez <a href="/signup">ici</a>.
                </div>

            </div>

        </div>

    </div>

</div>