<header style="background-color: #155084">

    <h1 style="font-size: 4em">M-ROW</h1>

</header>


<div id="signup_card" class="col-md-6 offset-md-3" style="margin-top: 20px; justify-content: center">

    <div class="card">


        <div class="card-header" style="text-align: center"> Inscription </div>

        <div class="card-body" style="float: center">

            <div class="alert" role="alert" id="alert" style="display: none"></div><br />

            {{#if error}}
                <div class="alert alert-warning" role="alert">{{errorMsg}}</div>
            {{/if}}

            <form action="/signup" method="POST">
            
            <label>Clef d'inscription</label>

            <div class="input-group mb-3">

                <input type="text" class="form-control" placeholder="0000" style="text-align: center" maxlength="4" id="key1" name="key1">

                <div class="input-group-prepend">
                    <span class="input-group-text" id="tiret1">-</span>
                </div>

                <input type="text" class="form-control" placeholder="AAAA" style="text-align: center" maxlength="4" id="key2" name="key2">

                <div class="input-group-prepend">
                    <span class="input-group-text" id="tiret2">-</span>
                </div>

                <input type="text" class="form-control" placeholder="0000" style="text-align: center" maxlength="4" id="key3" name="key3">

            </div>

            <small class="form-text text-muted">Clef unique d'inscription communiquée par un haut-gradé</small>

            <br />

            <label>Matricule</label>

            <div class="input-group mb-3">

                <input type="text" class="form-control" placeholder="00" maxlength="2" id="matricule" name="matricule">

                <div class="input-group-append" id="matriculeButton">
                    <button class="btn btn-outline-secondary" type="button" onclick="verifyMatricule($('#matricule').val())">Vérifier la
                        disponibilité</button>
                </div>

            </div>

            <small class="form-text text-muted">le matricule doit être un nombre de 01 à 99</small>

            <br />

            <label>Informations personelles</label>

            <div class="input-group mb-3">

                <input type="text" class="form-control" placeholder="Nom" name="last_name" id="last_name">

                <input type="text" class="form-control" placeholder="Prénom" name="first_name" id="first_name">

            </div>

            <br />

            <label for="inputPassword5">Mot de passe</label>

            <input type="password" id="password" class="form-control" aria-describedby="passwordHelpBlock" name="password">

            <small id="passwordHelpBlock" class="form-text text-muted">
                Le mot de passe doit faire entre 8 et 20 caractères.
            </small>

            <br />

            <label for="inputPassword5">Confirmation du mot de passe</label>

            <input type="password" id="password_confirm" class="form-control" aria-describedby="passwordHelpBlock" name="password_confirm">

            <br />

            <div class="custom-control custom-switch">

                <input type="checkbox" class="custom-control-input" id="accepted_rules" name="accepted_rules">

                <label class="custom-control-label" for="accepted_rules">Oui, j'ai lu <a href="">le réglement intérieur
                        du
                        LSPD</a></label>

            </div>

            <br />

            <button type="submit" class="btn btn-primary">S'inscrire</button>
            
            </form>

        </div>


    </div>

</div>

<br />