<style>
  table {
    width: 100%;
  }

  th,
  tr,
  td {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
  }
</style>


<div class="wrapper">

  <form>

    <h3>>form-signin-heading Nodejs MySQL Login Script</h3>

    <h5>Welcome: {{first_name}}</h5>

    <a href="/logout">Logout</a>

    <table>

      <tr>
        <th>Username</th>
        <th>Last name</th>
      </tr>

      <tr>
        <td>{{matricule}}</td>
        <td>{{last_name}}</td>
      </tr>

    </table>

  </form>

</div>